.container{
width: 1920px;
height:4000px;
margin: 0 auto;
background: rgba(23, 23, 23, 1);
}
.container_logo{
display: flex;
margin-bottom: 128px;
}
.logo{
height: 33px;
width: 216px;
left: 230px;
top: 46px;
margin-top: 46px; 
margin-left: 230px;
}
.button{
display: flex;
align-items: center;
margin: 0 0px;
padding-left: 26px;
padding-right: 25px;
padding-top:10px;
padding-bottom: 10px;
border: 1px solid rgba(228, 181, 100, 1);
height: 50px;
width: 218px;
left: 1472px;
top: 37px;
margin-top: 37px;
margin-right: 230px;
margin-left: auto;
}
.phone{
flex: 1 1;
margin: 0 0px;
height: 12.96px;
width: 12.96px;
left: 1px;
top: 1px;
}
.btn{
flex: 1 1 auto;
margin: 0 0px;
font-family: Circe;
font-size: 18px;
color: rgba(228, 181, 100, 1);
font-weight: 400;
letter-spacing: 0em;
text-align: right;   
}
@font-face{
font-family: 'Circe';
src: url('../font/Circe-Regular.ttf');
}
.container-background{
background-image: url("../img/header-bg.jpeg");
}
.infrustructure{
height:160px;   
}
.head{
margin-left: 230px;
padding-top: 34px;
font-family: Gilam;
font-size: 50px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);       
}  
@font-face{
font-family: 'Gilam';
src: url('../font/Gilam-Trial-Regular.ttf');
}
.text{
height: 56px;
width: 1182px;
margin-left: 230px;
margin-top: 41px;
font-family: Gilam;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
}
.services{
display: grid;
grid-template-columns: 467px 34px 214px 30px 223px 25px 467px;
row-gap: 27px;
text-align: center;
grid-template-areas: 
"item_one item_six item_two item_two item_two item_seven item_three"
"item_four item-four item-four item_eight item_five item_five item_five";
margin-left: 230px;
margin-top: 41px;
font-family: Gilam;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
}
.item_one{
height: 468px;
width: 467px;
background: rgba(99, 79, 44, 1);
padding-top: 220px;
}
.item_two{
height: 468px;
width: 467px;
background: rgba(180, 163, 133, 1);
padding-top: 206px;
padding-left: 44px;
padding-right: 43px;
grid-column-start: 3;
grid-column-end:5;
}
.item_three{
height: 468px;
width: 467px;
background: rgba(228, 181, 100, 1);
padding-top: 220px;
grid-column-start: 7;
}
.item_four{
height: 468px;
width: 715px;
background: rgba(99, 90, 74, 1);
padding-top: 220px;
grid-row-start: 2;
grid-column-start: 1;
grid-column-end:4;
}
.item_five{
height: 468px;
width: 715px;
background: rgba(176, 140, 77, 1);
padding-top: 220px;
}
.item_six{
height:  468px;
width:34px;
}
.item_seven{
height:  468px;
width: 25px;
grid-column-start: 5;
grid-column-end:6;
}
.item_eight{
height:  468px;
width:30px;
grid-column-start: 4;
grid-column-end:5;
}
.machines{
margin-top: 161px;

}
.masonry{
width: 1464px;
font-family: Gilam;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
text-align: left;
margin-top: 94px;
margin-left: 230px;
padding-bottom: 211px;
display: flex;
flex-flow: column wrap;
max-height: 1111px;
}
.model{
font-family: Gilam;
font-size: 20px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;    
}
.masonry-brick-1{
height: 313px;
width: 467px;
background: rgba(14, 14, 14, 1);
padding-top: 44px;
padding-left: 52px;
padding-right: 113px;
margin-bottom: 24px;
}
.masonry-brick-2{
height: 560px;
width: 467px;
border-radius: 0px;
background: rgba(31, 31, 31, 1);
padding-top: 56px;
padding-left: 52px;
}
.masonry-brick-3{
height: 439px;
width: 467px;
background: rgba(36, 36, 36, 1);
padding-top: 44px;
padding-left: 51px;
padding-right: 114px;
margin-bottom: 33px;
}
.masonry-brick-4{
height: 405px;
width: 467px;
background: rgba(228, 181, 100, 1);
padding-top: 47px;
padding-left: 52px;
padding-right: 113px;
color: rgba(0, 0, 0, 1);
}
.masonry-brick-5{
height: 255px;
width: 467px;
background: rgba(31, 31, 31, 1);
padding-top: 44px;
padding-left: 48px;
padding-right: 117px;
}
.masonry-brick-6{
height: 313px;
width: 467px;
background: rgba(14, 14, 14, 1);
padding-top: 44px;
padding-left: 48px;
padding-right: 117px;
margin-top:26px;
}
.masonry-brick-7{
height: 277px;
width: 467px;
background: rgba(10, 9, 9, 1);
padding-top: 44px;
padding-left: 48px;
padding-right: 117px;
margin-top:26px;
}
.footer{
height: 1054px;
width: 1920px;
background: rgba(14, 14, 14, 1);
}
.flex-container_2{
display: flex;
margin-left:230px;
}
.main_2{
height: 28px;
width: 597px;
color: rgba(255, 255, 255, 1);
font-family: Gilam;
font-size: 50px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
padding-top:172px;
padding-bottom: 72px;
}
.button_2{
border: 1px solid rgba(228, 181, 100, 1);
height: 50px;
width: 180px;     
font-family: Circe;
font-size: 18px;
color: rgba(228, 181, 100, 1);
font-weight: 400;
letter-spacing: 0em;
text-align: center;
margin-left: 683px;
margin-right: 230px;
margin-top: 161px;
padding-top: 10px;
}   
.projects{
margin-left: 230px; 
display: grid;
grid-template-columns: repeat(3, 487px);
grid-template-rows: repeat(2, 391px);  
grid-template-areas: 
"pro_1 pro_2 pro_3"
"pro_4 pro_5 pro_6";
}
.pro_1{
padding-left: 151px;
padding-top: 171px;   
padding-right: 151px;
background: rgba(99, 79, 44, 1);
grid-area: pro_1;
}
.pro_2{
display: flex;
flex-direction: column;  
background: rgba(232, 210, 171, 0.76);
grid-area: pro_2;  
}
.img_3{
margin-top: 61px;
height: 55px;
width: 62px;
align-self: center;
}
.img_2{
margin-top: 3px;
height: 55px;
width: 139px;
align-self: center;      
}
.text_2{
height: 140px;
width: 326px;
font-family: Gilam;
font-size: 22px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
margin-left: 80px;
text-align: center;
}
.img_17{
margin-top: 12px;
height: 23.2935791015625px;
width: 25px;
align-self: center;
} 
.pro_3{
padding-left: 149px;
padding-top: 174px;   
padding-right: 149px; 
background: rgba(228, 181, 100, 1);
grid-area: pro_3; 
}
.pro_4{
padding-left: 149px;
padding-top: 174px;   
padding-right: 149px; 
background: rgba(99, 90, 74, 1);
grid-area: pro_4; 
}
.pro_5{
background: rgba(176, 140, 77, 1);
grid-area: pro_5;
display:grid;
place-items: self;
}
.itemG{
padding-top: 169.5px;
padding-left: 184px;
}
.itemS{
position: absolute;
padding-left: 192.05px;
padding-top: 182.18px;
z-index: 2;
}
.itemE{
position: absolute;
padding-left: 207.6px;
padding-top: 186.49px;
z-index: index 3;
}
.itemT{
position: absolute;
padding-left: 220.92px;
padding-top: 182.92px;
z-index: 4;
}
.itemII{
position: absolute;
padding-left: 232.08px;
padding-top: 180.64px;
z-index: 5;
}
.itemIII{
position: absolute;
padding-left: 232.06px;
padding-top: 180.63px;
z-index: 6;
}
.itemGr{
position: absolute;
padding-left: 237.89px;
padding-top: 182.18px;
z-index: 7;
}
.itemR{
position: absolute;
padding-left: 255.06px;
padding-top: 186.5px;
z-index: 8;
}
.itemO{
position: absolute;
padding-left: 263.3px;
padding-top: 186.49px;
z-index: 9;
}
.itemU{
position: absolute;
padding-left: 277.41px;
padding-top: 186.74px;
z-index: 10;
}
.itemP{
position: absolute;
padding-left: 291.18px;
padding-top: 186.5px;
z-index: 11;
}
.pro_6{
padding-left: 151px;
padding-top: 171px;   
padding-right: 151px;
background: rgba(99, 79, 44, 1);
grid-area: pro_6;   
}
